.header {
    padding: 92px 24px 96px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    margin-left: 26px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item::marker {
    font-size: 18px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-underline-offset: 0.25rem;
    letter-spacing: 0.01em;
}

.header__link_active {
    text-decoration: none;
    font-weight: 400;
}

.header__logo {
    height: 105px;
    width: 148px;
    grid-template-columns: 2;
}

.header__logo > img {
    height: 100%;
}

.address {
    width: 240px;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: .01em;
}

.header__address {
    margin-left: 185px;
}

.address__link {
    text-underline-offset: 0.25rem;
}

.address__real-address {
    display: inline-block;
    margin: 1px 0 0 0;
    width: 230px;
    line-height: 1.3;
}

.cover {
    height: 757px;
    background-image: url("/images/cover.jpg");
    background-size: cover;
    background-position: 51% center;
}

.overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.6;
}